*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: bisque;
    color: black;
    
}
h1{
    text-align: center;
}
footer{
    color: black;
    background-color:burlywood;
    padding: 5px;
    margin: 5px;
    border:5px solid;