body{
    background-color: #d1c8a3;
    font-size: 25px;
}
 section {
    background-color: #c6ad71;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #acba9d;
 }

 h3{
    color: #e3604d
 }
 h4{
    color: #e3604d
 }
 h2{
    color: #e3604d
 }